<p>error-page works!</p>
<h1>Página não encontrada</h1>
<h3>Páginas sugeridas:</h3>

<ul>
    <h3>Autorização</h3>
    <li><a routerLink="/auth/login">Ir a Login</a></li>
    <li><a routerLink="/auth/registro">Ir a Registro</a></li>
</ul>
<ul>
    <h3>Herois</h3>
    <li><a routerLink="/herois/home">Home</a></li>
    <li><a routerLink="/herois/buscar">Buscar</a></li>
    <li><a routerLink="/herois/heroi">Heroi</a></li>
    <li><a routerLink="/herois/inserir">Inserir</a></li>
    <li><a routerLink="/herois/listar">Listar</a></li>
</ul>