<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">


        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>


        <mat-nav-list>
            <mat-list-item routerLink="listar" (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>label</mat-icon>
                Listar Heróis
            </mat-list-item>

            <mat-list-item routerLink="inserir" (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>add</mat-icon>
                Adicionar Heróis
            </mat-list-item>

            <mat-list-item routerLink="buscar" (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>search</mat-icon>
                Buscar Heróis
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-button>
            Logout
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>